<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="XBR-001 CrossBrowser Full Suite"
       parallel="tests"
       thread-count="3">

    <listeners>
        <listener class-name="multibank.DaminiSinghAssignment.Listeners.ScreenshotListener"/>
        <listener class-name="multibank.DaminiSinghAssignment.Listeners.ExtentTestNGListener"/>
    </listeners>

    <!-- ============ CHROME ============ -->
    <test name="Chrome_AllTests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="multibankDSTest.HomePageTest"/>
            <class name="multibankDSTest.SpotSectionTest"/>
            <class name="multibankDSTest.WhyMultiLinkPageTest"/>
            <!-- add more test classes here -->
        </classes>
    </test>

    <!-- ============ FIREFOX ============ -->
    <test name="Firefox_AllTests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="multibankDSTest.HomePageTest"/>
            <class name="multibankDSTest.SpotSectionTest"/>
            <class name="multibankDSTest.WhyMultiLinkPageTest"/>
        </classes>
    </test>

</suite>
